:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #D9DCB8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Poppins, sans-serif;
}

body .container {
  overflow: hidden;
  width: auto;
}

body .container .header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vh;
}

body .container .header .header-left {
  overflow: hidden;
  max-height: 100vh;
}

body .container .header .header-left #bg-hero {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  left: -40rem;
  top: -45rem;
  -webkit-animation: animate-hero .75s ease-in-out;
          animation: animate-hero .75s ease-in-out;
}

body .container .header .header-left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 7rem;
  top: 10rem;
  height: 25vh;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animate-hero .8s .75s forwards ease-in-out;
          animation: animate-hero .8s .75s forwards ease-in-out;
}

body .container .header .header-left .title #brand-name {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

body .container .header .header-left .title #brand-highlight {
  height: 0.2rem;
  width: 35rem;
  background-color: #000000;
  border: none;
  opacity: 22%;
  margin-top: 1rem;
}

body .container .header .header-left .title #subtitle {
  /* font-family: poppins;     */
  width: 40vw;
  font-weight: 500;
  font-size: 1.5rem;
  color: #3F3D56;
  letter-spacing: 1.5px;
}

body .container .header .header-left .contact-info {
  height: 12rem;
  width: 17rem;
  background: #c4c4c459;
  position: absolute;
  left: 10rem;
  top: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: post-animation .5s 1.25s forwards ease-in;
          animation: post-animation .5s 1.25s forwards ease-in;
}

body .container .header .header-left .contact-info #contact-text {
  font-size: 1.5rem;
  color: #005C54;
  margin-top: 1em;
  font-weight: 600;
  letter-spacing: 3px;
}

body .container .header .header-left .contact-info .contact-icons {
  /* position: relative; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .header .header-left .contact-info .contact-icons img {
  height: 75px;
  width: 75px;
  margin-top: 1.75rem;
}

body .container .header .header-left .contact-info .contact-icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform ease-out .25s;
  transition: -webkit-transform ease-out .25s;
  transition: transform ease-out .25s;
  transition: transform ease-out .25s, -webkit-transform ease-out .25s;
}

body .container .header .header-right #technician {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: absolute;
  right: -10rem;
  top: -10rem;
}

body .container .header .header-right #technician #right-arm, body .container .header .header-right #technician #right-hand {
  -webkit-animation: animate-hand 2.5s .2s ease infinite;
          animation: animate-hand 2.5s .2s ease infinite;
}

body .container .services-container .install {
  height: 200px;
  width: 60vw;
  background-color: #2A4D69;
  margin-top: 20px;
  border-radius: 10px 150px 150px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .services-container .install img {
  width: 150px;
}

body .container .services-container .install p {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #fff;
}

body .container .services-container .repair {
  position: absolute;
  right: 0;
  height: 200px;
  width: 60vw;
  background-color: #35A79C;
  margin-top: 20px;
  border-radius: 150px 10px 10px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .services-container .repair img {
  width: 150px;
}

body .container .services-container .repair p {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 640px) {
  body .container .header .header-left #bg-hero {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: -51.5rem;
    top: -40rem;
  }
  body .container .header .header-left .title {
    left: 1rem;
    top: 1rem;
    height: 50vh;
  }
  body .container .header .header-left .title #brand-name {
    font-size: 5rem;
  }
  body .container .header .header-left .title #brand-highlight {
    width: 90vw;
  }
  body .container .header .header-left .title #subtitle {
    width: 90vw;
    font-size: 1.2rem;
  }
  body .container .header .header-left .contact-info {
    left: 1.5rem;
    top: 22rem;
  }
  body .container .header .header-right #technician {
    display: none;
  }
  body .container .services-container .install, body .container .services-container .repair {
    width: 95vw;
    height: 150px;
  }
  body .container .services-container .install p, body .container .services-container .repair p {
    font-size: 1rem;
    margin-right: 0;
  }
  body .container .services-container .install img, body .container .services-container .repair img {
    width: 75px;
  }
  body .container .services-container .install img {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */